{# стандартная верстка Cetera #}
{% block html %}
{{ widget.widgetTitle|raw }}

<form method="post">

  {% for e in widget.errors %}
  <div class="callout alert"><p>{{ e.message }}</p></div>
  {% endfor %}
  
  {% if widget.success %}
  <div class="callout success"><p>{{ widget.success }}</p></div>
  {% endif %}  

  <fieldset{# class="fieldset" #}>
  
  {% for f in widget.fields %}
	<label{% if f.error %} class="is-invalid-label"{% endif %}>{{ f.describ }}{% if f.required %} *{% endif %}</label>
	<input name="{{ f.name }}" value="{{ f.value }}" type="{{ f.type }}"{% if f.required %} required{% endif %}{% if f.error %} class="is-invalid-input"{% endif %}>
	{% if f.error != 1 %}<span class="form-error is-visible">{{ f.error }}</span>{% endif %}
  {% endfor %}
  
  </fieldset>

  <input type="hidden" name="{{ widget.uniqueId }}" value="1">
  <button class="button">{{ _('Сохранить') }}</button>
  
</form>
{% endblock %}