{# слайдер slick-карусель с фоновой картинкой #}
<div class="{{ widget.uniqueId }} carousel-main background-main">
{% for m in widget.getChildren %}

      <div class="carousel-main__item" style="{% if m.pic %}background-image: url({{ m.pic }}); {% endif %}background-size: cover;">
        <div class="grid-container">
          <div class="grid-x grid-padding-x align-center carousel-main__content">
            <div class="cell medium-14 align-self-middle text-left medium-text-center">
              <h2>{{ m.name }}</h2>
              {{ m.short|raw }}
            </div>
          </div>
        </div>
      </div>

{% endfor %}	  
</div>

{% set script %}
<script>
    "use strict";
    document.addEventListener('DOMContentLoaded', function () {
        jQuery(".{{ widget.uniqueId }}").slick({
            infinite: true,
            dots: false,
            arrows: true,
            slidesPerRow: 1,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            autoplayHoverPause: true,
            fade: true,
            swipeToSlide: true,
            prevArrow: '<span><i class="slick-prev fas fa-angle-left fa-4x"> </i></span>',
            nextArrow: '<span><i class="slick-next fas fa-angle-right fa-4x"> </i></span>'
        });
	});
</script>
{% endset %}
{% do widget.application.addHeadString( script ) %}