{% if loading is not defined %}{% set loading %}{{ _('Подождите ...') }}{% endset %}{% endif %}
{% set script %}
	{% block script %} 
		{% if widget.getParam('ajax') and not widget.getParam('ajaxCall') %}

		document.addEventListener('DOMContentLoaded', function () {
			{{ widget.uniqueId|replace({'-':'_'}) }}_hook_links();
		});
		function {{ widget.uniqueId|replace({'-':'_'}) }}_hook_links(){
			var pageLink = document.querySelectorAll("#{{ widget.uniqueId }}-wrapper .x-pages a");
			for (var i = 0; i  < pageLink.length; i++) pageLink[i].addEventListener("click", {{ widget.uniqueId|replace({'-':'_'}) }}_pageClick);
		}

		function {{ widget.uniqueId|replace({'-':'_'}) }}_pageClick(e)
		{
			e.preventDefault();
			{{ widget.uniqueId|replace({'-':'_'}) }}_loadpage( this.dataset.page );
		}
		
		var {{ widget.uniqueId|replace({'-':'_'}) }}_currentpage = 1;
		function {{ widget.uniqueId|replace({'-':'_'}) }}_loadpage( page )
		{
		    {{ widget.uniqueId|replace({'-':'_'}) }}_currentpage = page;
			
			var widget = document.querySelector("#{{ widget.uniqueId }}-wrapper");
			
			
			var loading = '<div id="{{ widget.uniqueId }}-loading">{{ loading|replace({"\n":'',"\r":'',"'":"\'"})|raw }}</div>';
			{% if widget.getParam('infinite') %}
				widget.innerHTML += loading;
				var p = document.querySelectorAll("#{{ widget.uniqueId }}-wrapper .x-pages");
				for (var i = 0; i  < p.length; i++) p[i].parentNode.removeChild(p[i]);
			{% else %}
				widget.innerHTML = loading;
			{% endif %}
			
			var request = new XMLHttpRequest();
			var body = '{% for name,value in widget.params %}params[{{ name }}]={% if name == "page" %}' + page + '{% else %}{{ value|url_encode }}{% endif %}&{% endfor %}params[ajaxCall]=1';
			request.open('POST', '{{ widget.getAjaxUrl()|raw }}', true);
			request.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
			request.onload = function (e) {
				if (request.readyState === 4) {

					// Проверяем успешность GET-запроса
					if (request.status === 200) {
						var ldr = document.querySelector("#{{ widget.uniqueId }}-loading");
						ldr.outerHTML = request.responseText;
						{{ widget.uniqueId|replace({'-':'_'}) }}_hook_links();
						jQuery(document).foundation();
					} else {
						console.error(request.statusText);
					}
				}
			};

			request.onerror = function (e) {
				console.error(request.statusText);
			};

			request.send(body);		
		
		}
		{% endif %}
	{% endblock %}	
{% endset %}
{% do widget.application.addHeadString( "<script>#{script}</script>" ) %}