<h1>{{ _('Ошибка 404: страница не найдена') }}</h1>

<p>{{ _('К сожалению, запрашиваемый Вами документ не найден на этом сервере.') }}</p>
<p>{{ _('Наиболее частые причины, приводящие к данной ошибке, следующие:') }}</p>
<ul>
 <li>{{ _('переход по ошибочной ссылке;') }}</li>
 <li>{{ _('неправильный ввод адреса.') }}</li>
</ul>
<p>{{ _('Решения:') }}</p>
<ul>
 <li>{{ _('исправьте адрес, ошибочно набранный в адресной строке браузера;') }}</li>
 <li>{{ _('попробуйте начать поиск необходимого материала с <a href="/">главной страницы нашего сайта</a>.')|raw }}</li>
</ul> 