{# стандартный foundation pagination #}
{% block html %}
{% if widget.hasPages() %}

<ul class="pagination" role="navigation">

	<li class="pagination-previous{% if 1 == widget.getIterator().getCurrentPageNumber() %} disabled{% endif %}">
		{% if 1 == widget.getIterator().getCurrentPageNumber() %}
			{{ _('Предыдущая') }}<span class="show-for-sr"> {{ _('страница') }}</span>
		{% else %}
			<a href="{{ widget.getUrl(widget.getPreviousPage()) }}" data-page="{{ widget.getPreviousPage() }}">{{ _('Предыдущая') }}<span class="show-for-sr"> {{ _('страница') }}</span></a>
		{% endif %}
	</li>  

    {% for i in range(1,3) if i <= widget.getIterator().getPageCount %}
            <li{% if i == widget.getIterator().getCurrentPageNumber %} class="current"{% endif %}>
                {% if i == widget.getIterator().getCurrentPageNumber %}
                    <span class="show-for-sr">{{ _('Вы на странице') }} </span>{{ i }}
                {% else %}
                    <a href="{{ widget.getUrl(i) }}">{{ i }}</a>
                {% endif %}
            </li>
    {% endfor %}   
    {% if widget.getIterator().getCurrentPageNumber > 5 and widget.getIterator().getPageCount > 6 %}                    
            <li class="unavailable"><a>&hellip;</a></li>
    {% endif %}


    {% for i in range(widget.getIterator().getCurrentPageNumber - 1, widget.getIterator().getCurrentPageNumber + 1) if (i > 3 and i < widget.getIterator().getPageCount-2 and (widget.getIterator().getCurrentPageNumber != 3 or i != 2) and (widget.getIterator().getCurrentPageNumber != widget.getIterator().getPageCount - 2 or i != widget.getIterator().getPageCount - 1) ) %}
        <li{% if i == widget.getIterator().getCurrentPageNumber %} class="current"{% endif %}>
                {% if i == widget.getIterator().getCurrentPageNumber %}
                    <span class="show-for-sr">{{ _('Вы на странице') }} </span>{{ i }}
                {% else %}
                    <a href="{{ widget.getUrl(i) }}" aria-label="Page {{ i }}">{{ i }}</a>
                {% endif %}
            </li>
    {% endfor %} 


    {% if widget.getIterator().getCurrentPageNumber < widget.getIterator().getPageCount - 4 and widget.getIterator().getPageCount > 6 %}                    
            <li class="unavailable">&hellip;</li>
    {% endif %}                      
    {% for i in range(widget.getIterator().getPageCount - 2, widget.getIterator().getPageCount) if i > 3 %}
            <li{% if i == widget.getIterator().getCurrentPageNumber %} class="current"{% endif %}>
                {% if i == widget.getIterator().getCurrentPageNumber %}
                    <span class="show-for-sr">{{ _('Вы на странице') }} </span>{{ i }}
                {% else %}
                    <a href="{{ widget.getUrl(i) }}" aria-label="Page {{ i }}">{{ i }}</a>
                {% endif %}
            </li>
    {% endfor %}   

	<li class="pagination-next{% if widget.getIterator().getPageCount() <= widget.getIterator().getCurrentPageNumber() %} disabled{% endif %}">
		{% if widget.getIterator().getPageCount() <= widget.getIterator().getCurrentPageNumber() %}
			{{ _('Следующая') }}<span class="show-for-sr"> {{ _('страница') }}</span>
		{% else %}
			<a href="{{ widget.getUrl(widget.getIterator().getCurrentPageNumber()+1) }}" data-page="{{ widget.getIterator().getCurrentPageNumber()+1 }}">{{ _('Следующая') }}<span class="show-for-sr"> {{ _('страница') }}</span></a>
		{% endif %}
	</li>	                  
</ul>

{% endif %}
{% endblock %}